<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/head') -%>
</head>
<body>
    <h1>Welcome to our EJ6 Movie thang</h1>
    <a href="/shows">Check out our ejs TV shows</a>
</body>
</html>